@{
    ViewData["Title"] = "Novo Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content custom-scrollbar ps">
    <div id="e-commerce-product" class="page-layout simple tabbed">
        <!-- HEADER -->
        <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-6">
            <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                <div class="logo-icon mr-3 mt-1">
                    <i class="icon-account-location s-6"></i>
                </div>
                <div class="logo-text">
                    <div class="h4">  Novo Aluno</div>
                </div>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="page-content">

            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link btn active" id="basic-info-tab" data-toggle="tab" href="#basic-info-tab-pane" role="tab" aria-controls="basic-info-tab-pane" aria-expanded="true">Básico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn " id="foto-info-tab" data-toggle="tab" href="#foto-tab-pane" role="tab" aria-controls="foto-tab-pane">Foto</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn" id="logradouro-tab" data-toggle="tab" href="#logradouro-tab-pane" role="tab" aria-controls="logradouro-tab-pane">Logradouro</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn" id="filiacao-tab" data-toggle="tab" href="#filiacao-tab-pane" role="tab" aria-controls="filiacao-tab-pane">Filiação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" id="matricula-tab" data-toggle="tab" href="#matricula-tab-pane" role="tab" aria-controls="matricula-tab-pane">Matricula</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" id="turma-tab" data-toggle="tab" href="#turma-tab-pane" role="tab" aria-controls="turma-tab-pane">Turma</a>
                </li>
            </ul>

            <div class="tab-content">
                <input type="hidden" id="hiddenIdAluno" value="9" />
                <input type="hidden" id="hiddenHashAluno" value="@ViewBag.Id" />
                <div class="tab-pane fade show active" id="basic-info-tab-pane" role="tabpanel" aria-labelledby="basic-info-tab">

                    <div class="card p-6">

                        <form id="formAluno">

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputId" class="col-form-label">Id</label>
                                    <input type="text" disabled class="form-control" id="inputId" name="inputId" placeholder="" value="@ViewBag.Id">

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputNome" class="col-form-label">Nome</label>
                                    <input type="text" class="form-control" id="inputNome" name="inputNome">

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress" class="col-form-label">Email</label>
                                    <input type="email" class="form-control" id="inputAddress" name="inputAddress">

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCpf" class="col-form-label">CPF</label>
                                    <input type="text" class="form-control" id="inputCpf" name="inputCpf">


                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputData" class="col-form-label">Data Nascimento</label>
                                    <input type="text" len="" class="form-control" id="inputData" name="inputData" placeholder="">

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputTelefone" class="col-form-label">Telefone</label>
                                    <input type="text" class="form-control" id="inputTelefone" name="inputTelefone">


                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCelular" class="col-form-label">Celular</label>
                                    <input type="text" len="" class="form-control" id="inputCelular" name="inputCelular">

                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary fuse-ripple-ready">Gravar</button>
                        </form>

                    </div>
                </div>
                <div class="tab-pane fade" id="foto-tab-pane" role="tabpanel" aria-labelledby="foto-info-tab">
                    <div class="card p-6">
                        <form id="formAlunoFoto" style="display:none" class="invisible form" method="post">
                            <div class="col-xl-11">

                                <div class="form-row">
                                    <div class="col-sm-1"><img class="profile-image avatar huge mr-6" src="/images/avatars/Aluno/profile.jpg"></div>

                                    <div class="form-group col-md-5">
                                        <input type="file" class="form-control" id="file" name="file">

                                    </div>
                                    <div class="col-sm-2" style="margin-top:30px">
                                        <button type="submit" class="btn btn-primary fuse-ripple-ready">Gravar</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="base invisible col-12">
                            <center style="margin-top: 5%">
                                <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">

                                    <div class="card-body">
                                        <h4 class="card-title">Ops! :-(</h4>
                                        <p class="card-text">Informe os dados básico do aluno.</p>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="logradouro-tab-pane" role="tabpanel" aria-labelledby="logradouro-tab-pane">
                    <div class="card p-6">

                        <form id="formLogradouro" style="display:none" class="invisible form formReset">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCep" class="col-form-label">Cep</label>
                                    <input type="text" onfocusout="BuscaCep(this)" class="form-control" id="inputCep" name="inputCep" placeholder="">

                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">Rua</label>
                                    <input type="text" class="form-control" id="inputRua" name="inputRua" placeholder="">

                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="inputNumero" class="col-form-label">Nº</label>
                                    <input type="text" class="form-control" id="inputNumero" name="inputNumero" placeholder="">

                                </div>


                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label for="inputComplemento" class="col-form-label">Complemento</label>
                                    <input type="text" class="form-control" id="inputComplemento" name="inputComplemento" placeholder="">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputBairro" class="col-form-label">Bairro</label>
                                    <input type="text" class="form-control" id="inputBairro" name="inputBairro" placeholder="">

                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputUF" class="col-form-label">Estado</label>
                                    @Html.DropDownList("Estados", null, "", new { @class = "form-control   select" })

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCidade" class="col-form-label">Cidade</label>
                                    <input type="text" class="form-control" id="inputCidade" name="inputCidade" placeholder="">

                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary fuse-ripple-ready">Gravar</button>
                        </form>
                        <div class="base invisible col-md-12" style="display:none">
                            <center style="margin-top: 5%">
                                <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">

                                    <div class="card-body">
                                        <h4 class="card-title">Ops! :-(</h4>
                                        <p class="card-text">Informe os dados básico do aluno.</p>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="filiacao-tab-pane" role="tabpanel" aria-labelledby="filiacao-tab-pane">
                    <div class="card p-6">
                        <form id="formResponsavel" style="display:none" class="invisible form formReset">

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputResponsavel" class="col-form-label">Responsavel</label>
                                    <input type="text" class="form-control" id="inputResponsavel" name="inputResponsavel">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputUF" class="col-form-label">Tipo Filiação</label>
                                    @Html.DropDownList("TipoFiliacao", null, "Selecione um tipo", new { @class = "form-control   select" })

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputTelefoneResponsavel" class="col-form-label">Telefone</label>
                                    <input type="text" class="form-control telefone" id="inputTelefoneResponsavel" name="inputTelefoneResponsavel">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary fuse-ripple-ready">Gravar</button>
                        </form>
                        <div class="base invisible col-md-12">
                            <center style="margin-top: 5%">
                                <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">

                                    <div class="card-body">
                                        <h4 class="card-title">Ops! :-(</h4>
                                        <p class="card-text">Informe os dados básico do aluno.</p>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="matricula-tab-pane" role="tabpanel" aria-labelledby="matricula-tab-pane">
                    <div class="card p-6">
                        <form id="formMatricula" style="display:none" class="invisible form formReset">
                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label for="inputValorMatricula" class="col-form-label">Valor Matricula</label>
                                    <input type="text" class="form-control" id="inputValorMatricula" name="inputValorMatricula">

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputDescontoMatricula" class="col-form-label">Desconto Matricula</label>
                                    <input type="text" class="form-control" id="inputDescontoMatricula" name="inputDescontoMatricula">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputValorParcela" class="col-form-label">Valor Parcelas</label>
                                    <input type="text" class="form-control" id="inputValorParcela" name="inputValorParcela">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputNome" class="col-form-label">Desconto Parcelas</label>
                                    <input type="text" class="form-control" id="inputDescontoParcela" name="inputDescontoParcela">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputDiaVencimento" class="col-form-label">Vencimento</label>
                                    <select class="form-control" id="inputDiaVencimento" name="inputDiaVencimento">
                                        <option>1</option>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>15</option>
                                        <option>20</option>
                                        <option>25</option>

                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputTotalParcelas" class="col-form-label">Total Parcelas</label>
                                    <select class="form-control" id="inputTotalParcelas" name="inputTotalParcelas">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>

                                    </select>

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputVigencia" class="col-form-label">Ano/Vigencia</label>
                                    <input type="text" class="form-control" id="inputVigencia" name="inputVigencia">

                                </div>

                            </div>


                            <button type="submit" class="btn btn-primary fuse-ripple-ready">Gravar</button>
                        </form>
                        <div class="base invisible col-12">
                            <center style="margin-top: 5%">
                                <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">

                                    <div class="card-body">
                                        <h4 class="card-title">Ops! :-(</h4>
                                        <p class="card-text">Informe os dados base do aluno.</p>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="turma-tab-pane" role="tabpanel" aria-labelledby="turma-tab-pane">
                    <div class="card p-6">
                        <form id="formTurma" style="display:none" class="invisible form formReset">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputId" class="col-form-label">Id</label>
                                    <input type="text" disabled class="form-control" id="inputId" name="inputId" placeholder="" value="@ViewBag.Id">

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary fuse-ripple-ready">Gravar</button>
                        </form>
                        <div class="base invisible col-md-12">
                            <center style="margin-top: 5%">
                                <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">

                                    <div class="card-body">
                                        <h4 class="card-title">Ops! :-(</h4>
                                        <p class="card-text">Informe os dados básico do aluno.</p>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/Modulo/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/Modulo/jquery-validation/messages_pt_BR.js"></script>
<script src="~/js/Helper/Helper.js"></script>
<script src="~/js/Helper/CookieHelper.js"></script>
<script type="text/javascript" src="/js/apps/e-commerce/product/product.js"></script>
<script src="~/Modulo/Mask/dist/jquery.mask.js"></script>
<script src="~/Modulo/Mask/maskmoney.js"></script>
<script>
    $(document).ready(function () {
        ValidaDadosBase();
    })
    function ValidaDadosBase() {
        if ($("#hiddenIdAluno").val().length > 0) {
            $(".base").removeClass('visible');
            $(".base").addClass("invisible")
            $(".form").removeClass('invisible');
            $(".base").hide();
            $(".form").show();
            $("#formAluno :input").prop("disabled", true);
            $(".form").addClass("visible")
            $(".formReset").trigger("reset");

        }
        else {
            $(".base").removeClass('invisible');
            $(".base").addClass("visible");

        }
    }
    //Mascaras de campos Inicio
    $("#inputData").mask("00/00/0000");
    $("#inputDescontoParcela").mask("%99");
    $("#inputVigencia").mask("9999");
    $("#inputValor").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
    $("#inputValorParcela").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
    jQuery("#inputTelefone")
        .mask("(99) 9999-9999?9")
        .focusout(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if (phone.length > 10) {
                element.mask("(99) 99999-9999");
            } else {
                element.mask("(99) 9999-99999");
            }
        });
    jQuery(".telefone")
        .mask("(99) 9999-9999?9")
        .focusout(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if (phone.length > 10) {
                element.mask("(99) 99999-9999");
            } else {
                element.mask("(99) 9999-99999");
            }
        });
    $("#inputData").mask("00/00/0000");
    jQuery("#inputCelular")
        .mask("(99) 9999-9999?9")
        .focusout(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if (phone.length > 10) {
                element.mask("(99) 99999-9999");
            } else {
                element.mask("(99) 9999-99999");
            }
        });
    //Mascaras de campos Fim
    function BuscaCep(cep) {
        if (cep.value !== '') {
            var dataT = {
                cep: cep.value
            }
            var callback = function (data) {
                if (data.success) {
                    document.getElementById('inputRua').value = data.cep.result.rua;
                    //document.getElementById('inputUF').value = data.cep.result.estado;
                    document.getElementById('inputBairro').value = data.cep.result.bairro;
                    $('#Estados  option[value="' + data.cep.result.estado + '"]').prop("selected", true);
                    document.getElementById('inputComplemento').value = data.cep.result.complemento;
                    document.getElementById('inputCidade').value = data.cep.result.cidade;
                    return false;
                }
            }
            var callbackErro = function (data) {
                PNotify.error({
                    title: 'Ops! :-(',
                    text: 'CEP não localizado'
                });

            }

            academia.helper.rest.utils.GET("/Aluno/ObterLogradouroPor", dataT, callback, callbackErro, $('#loader'));

        }

    }
    $(function () {
        $.validator.addMethod("dateFormat",
            function (value, element) {
                return value.match(/^dd?-mm?-yyyy$/);
            });
        var jvalidate = $("#formAluno").validate({
            ignore: [],
            rules: {

                inputNome: {
                    required: true,
                    minlength: 6,
                    maxlength: 300

                },


                inputData: {
                    required: true
                    //dateFormat: true

                }



            },
            messages: {


                inputNome: {
                    required: "Informe o nome.",
                    minlength: $.validator.format("O nome precisa ter pelo menos {0} characters"),
                    maxlength: $.validator.format("O nome não pode serr superior há {0} characters")

                },
                inputData: {
                    required: "Informe a data de nascimento.",

                }

            },
            submitHandler: function (form) {

                var dataT = {

                    Id: $("#hiddenIdAluno").val().length <= 0 ? 0 : $("#hiddenIdAluno").val(),
                    UifId: $("#formAluno #inputId").val(),
                    Nome: $("#formAluno #inputNome").val(),
                    DataNascimento: $("#formAluno #inputData").val(),
                    Telefone: $("#formAluno #inputTelefone").val(),
                    Email: $("#formAluno #inputAddress").val(),
                    Celular: $("#formAluno #inputCelular").val(),
                    Cpf: $("#formAluno #inputCpf").val(),
                    Foto: 'profile.jpg'


                }
                var callback = function (data) {
                    if (JSON.parse(data).success) {
                        PNotify.success({
                            title: ':-)',
                            text: 'Cadastro realizado com sucesso.'
                        });
                        document.getElementById('hiddenIdAluno').value = JSON.parse(data).data.id;
                        document.getElementById("formAluno").reset();
                        ValidaDadosBase();
                        return false;
                    } else {
                        var msg = '';
                        $.each(JSON.parse(data).data, function (index, item) {
                            msg = msg + item.property + ' > ' + item.message + '\n';
                        });

                        PNotify.error({
                            title: 'Ops! ' + JSON.parse(data).message + ' :-( ',
                            text: msg
                        });


                    }
                }
                var callbackErro = function (data) {
                    PNotify.error({
                        title: 'Ops! :-(',
                        text: 'Ocorreu um erro ao processar sua solicitação'
                    });

                }

                academia.helper.rest.utils.POST("/Aluno/Novo", dataT, callback, callbackErro, $('#loader'));

            }
        });
    });
    $("#formAlunoFoto").submit(function (event) {

        event.preventDefault();
        var input = document.getElementById("file");
        var files = input.files;
        var formData = new FormData();
        formData.append('Id', $("#hiddenIdAluno").val());
        formData.append('Foto', '');
        for (var i = 0; i != files.length; i++) {
            formData.append("file", files[i]);
        }
        var dataT = {

            Id: $("#hiddenIdAluno").val(),
            Foto: "",
            file: files[0]

        }

        var callback = function (data) {
            if (data.success) {
                PNotify.success({
                    title: ':-)',
                    text: 'Atualizado com sucesso.'
                });
                document.getElementById("formAlunoFoto").reset();
                return false;
            } else {
                var msg = '';
                $.each(data.data, function (index, item) {
                    msg = msg + item.property + ' > ' + item.message + '\n';
                });

                PNotify.error({
                    title: 'Ops! ' + data.message + ' :-( ',
                    text: msg
                });


            }
        }
        var callbackErro = function (data) {
            PNotify.error({
                title: 'Ops! :-(',
                text: 'Ocorreu um erro ao processar sua solicitação'
            });

        }

        academia.helper.rest.utils.POSTFORM("/Aluno/Editar/Foto", formData, callback, callbackErro, $('#loader'));

        return false;

    });
    $(function () {
        $("#formLogradouro").validate({
            ignore: [],
            rules: {

                inputRua: {
                    required: true,
                    minlength: 3,
                    maxlength: 300

                },
                inputCep: {
                    required: true
                    //dateFormat: true

                },
                inputNumero: {
                    required: true
                    //dateFormat: true

                },
                inputBairro: {
                    required: true
                    //dateFormat: true

                },
                Estados: {
                    required: true
                    //dateFormat: true

                },
                inputCidade: {
                    required: true
                    //dateFormat: true

                },


            },
            messages: {


                inputRua: {
                    required: "Informe o logradouro.",
                    minlength: $.validator.format("O logradouro precisa ter pelo menos {0} characters"),
                    maxlength: $.validator.format("O logradouro não pode serr superior há {0} characters")

                },
                inputNumero: {
                    required: "Informe o número."

                },
                inputCep: {
                    required: "Informe o cep."

                },
                inputBairro: {
                    required: "Informe o bairro.",
                    minlength: $.validator.format("O bairro precisa ter pelo menos {0} characters"),
                    maxlength: $.validator.format("O bairro não pode serr superior há {0} characters")

                },
                inputCidade: {
                    required: "Informe a cidade.",

                },
                Estados: {
                    required: "Informe o estado.",

                }

            },
            submitHandler: function (form) {

                var dataT = {

                    idAluno: $("#hiddenIdAluno").val().length <= 0 ? 0 : $("#hiddenIdAluno").val(),
                    Logradouro: $("#formLogradouro #inputRua").val(),
                    Complemento: $("#formLogradouro #inputComplemento").val(),
                    Numero: $("#formLogradouro #inputNumero").val(),
                    Bairro: $("#formLogradouro #inputBairro").val(),
                    Cidade: $("#formLogradouro #inputCidade").val(),
                    Uf: $("#formLogradouro #Estados").val(),
                    Cep: $("#formLogradouro #inputCep").val()
                }
                var callback = function (data) {
                    if (JSON.parse(data).success) {
                        PNotify.success({
                            title: ':-)',
                            text: 'Cadastro realizado com sucesso.'
                        });
                        return false;
                    } else {
                        var msg = '';
                        $.each(JSON.parse(data).data, function (index, item) {
                            msg = msg + item.property + ' > ' + item.message + '\n';
                        });

                        PNotify.error({
                            title: 'Ops! ' + JSON.parse(data).message + ' :-( ',
                            text: msg
                        });


                    }
                }
                var callbackErro = function (data) {
                    PNotify.error({
                        title: 'Ops! :-(',
                        text: 'Ocorreu um erro ao processar sua solicitação'
                    });

                }

                academia.helper.rest.utils.POST("/Aluno/Logradouro/Novo", dataT, callback, callbackErro, $('#loader'));

            }
        });
    });
    $(function () {
        $("#formResponsavel").validate({
            ignore: [],
            rules: {

                inputResponsavel: {
                    required: true,
                    minlength: 3,
                    maxlength: 300

                },
                TipoFiliacao: {
                    required: true
                }
            },
            messages: {


                inputRua: {
                    required: "Informe o nome do responsavel.",
                    minlength: $.validator.format("O nome do responsavel precisa ter pelo menos {0} characters"),
                    maxlength: $.validator.format("O logradouro não pode serr superior há {0} characters")

                },
                TipoFiliacao: {
                    required: "Informe o tipo de responsavel.",
                }

            },
            submitHandler: function (form) {

                var dataT = {

                    idAluno: $("#hiddenIdAluno").val().length <= 0 ? 0 : $("#hiddenIdAluno").val(),
                    Nome: $("#formResponsavel #inputResponsavel").val(),
                    Telefone: $("#formResponsavel #inputTelefoneResponsavel").val(),
                    TipoFiliacao: $("#formResponsavel #TipoFiliacao").val()

                }
                var callback = function (data) {
                    if (JSON.parse(data).success) {
                        PNotify.success({
                            title: ':-)',
                            text: 'Cadastro realizado com sucesso.'
                        });
                        document.getElementById("formResponsavel").reset();
                        return false;
                    } else {
                        var msg = '';
                        $.each(JSON.parse(data).data, function (index, item) {
                            msg = msg + item.property + ' > ' + item.message + '\n';
                        });

                        PNotify.error({
                            title: 'Ops! ' + JSON.parse(data).message + ' :-( ',
                            text: msg
                        });


                    }
                }
                var callbackErro = function (data) {
                    PNotify.error({
                        title: 'Ops! :-(',
                        text: 'Ocorreu um erro ao processar sua solicitação'
                    });

                }

                academia.helper.rest.utils.POST("/Aluno/Responsavel/Novo", dataT, callback, callbackErro, $('#loader'));

            }
        });
    });
    $(function () {
        $("#formMatricula").validate({

            ignore: [],
            rules: {

                inputValorMatricula: {
                    required: true,
                  

                },
                inputDescontoMatricula: {
                    required: true,
                   

                },
                inputValorParcela: {
                    required: true,
                   

                },
                inputDescontoParcela: {
                    required: true,
                   

                },
                inputDiaVencimento: {
                    required: true,
                  

                },
                inputTotalParcelas: {
                    required: true,
                    

                },
                TipoFiliacao: {
                    required: true
                }
            },
            messages: {


                inputValorMatricula: {
                    required: "Campo Obrigatório."

                },
                inputDescontoMatricula: {
                    required: "Campo Obrigatório."

                },
                inputValorParcela: {
                    required: "Campo Obrigatório."

                },
                inputDescontoParcela: {
                    required: "Campo Obrigatório."

                },
                inputDiaVencimento: {
                    required: "Campo Obrigatório."

                },
                inputTotalParcelas: {
                    required: "Campo Obrigatório."

                },
                TipoFiliacao: {
                    required: "Informe o tipo de responsavel.",
                }

            },
            submitHandler: function (form) {

                var dataT = {

                    idAluno: $("#hiddenIdAluno").val().length <= 0 ? 0 : $("#hiddenIdAluno").val(),
                    Nome: $("#formResponsavel #inputResponsavel").val(),
                    Telefone: $("#formResponsavel #inputTelefoneResponsavel").val(),
                    TipoFiliacao: $("#formResponsavel #TipoFiliacao").val()

                }
                var callback = function (data) {
                    if (JSON.parse(data).success) {
                        PNotify.success({
                            title: ':-)',
                            text: 'Matriculado com sucesso.'
                        });
                        document.getElementById("formResponsavel").reset();
                        return false;
                    } else {
                        var msg = '';
                        $.each(JSON.parse(data).data, function (index, item) {
                            msg = msg + item.property + ' > ' + item.message + '\n';
                        });

                        PNotify.error({
                            title: 'Ops! ' + JSON.parse(data).message + ' :-( ',
                            text: msg
                        });


                    }
                }
                var callbackErro = function (data) {
                    PNotify.error({
                        title: 'Ops! :-(',
                        text: 'Ocorreu um erro ao processar sua solicitação'
                    });

                }

                academia.helper.rest.utils.POST("/Aluno/Matricular/", dataT, callback, callbackErro, $('#loader'));

            }
        });
    })

</script>
}


