
@{
    ViewData["Title"] = "Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content custom-scrollbar ps">
    <div class="doc forms-doc page-layout simple full-width">


        <!-- HEADER -->

        <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-6">
            <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                <div class="logo-icon mr-3 mt-1">
                    <i class="icon-account-location s-6"></i>
                </div>
                <div class="logo-text">
                    <div class="h4">  Matrícula</div>
                </div>
            </div>




        </div>

        <div class="page-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <label class="nav-link btn ">CÓDIGO ALUNO:@ViewBag.Aluno.AlunoGuid   </label>
                </li>
                <li class="nav-item">
                    <label class="nav-link btn ">NOME:@ViewBag.Aluno.AlunoNome   </label>
                </li>
                <li class="nav-item">
                    <label class="nav-link btn ">CÓDIGO MATRÍCULA:@ViewBag.HashMatricula   </label>
                </li>


            </ul>
            <div class="tab-content">
                <input type="hidden" id="hiddenIdAluno" value="@ViewBag.Aluno.AlunoId" />
                <input type="hidden" id="hiddenHashAluno" value="@ViewBag.Aluno.AlunoGuid" />
                <input type="hidden" id="hiddenHashMatricula" value="@ViewBag.HashMatricula" />


                <div class="card p-6">
                    <form id="formMatricula" class=" form formReset">
                        <div class="form-row">
                            <div class="col-md-4">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group col-md-12">
                                                <label for="inputValorMatricula" class="col-form-label">Valor Matricula</label>
                                                <input type="text" class="form-control" id="inputValorMatricula" name="inputValorMatricula" value="@ViewBag.ValorMatricula">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-md-12">
                                                <label for="inputDescontoMatricula" class="col-form-label">Desconto Matricula</label>
                                                <input type="text" class="form-control" id="inputDescontoMatricula" name="inputDescontoMatricula" value="0">
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <div class="col-12">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="inputTotalParcelas" class="col-form-label">N° Parcelas</label>
                                                        <select class="form-control" id="inputTotalParcelas" name="inputTotalParcelas">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="inputDiaVencimento" class="col-form-label">Vencimento</label>
                                                        <select class="form-control" id="inputDiaVencimento" name="inputDiaVencimento">
                                                            <option>1</option>
                                                            <option>5</option>
                                                            <option>10</option>
                                                            <option>15</option>
                                                            <option>20</option>
                                                            <option>25</option>

                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group ">
                                                        <label for="inputMesVencimento" class="col-form-label">Mes Início de Pagamento</label>
                                                        @Html.DropDownList("Mes", null, "Selecione um mês", new { @class = "form-control   select" })
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="inputVigencia" class="col-form-label">Ano/Vigencia</label>
                                                        <input type="text" class="form-control" id="inputVigencia" name="inputVigencia">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <center>
                                    <button type="submit" class="btn btn-primary fuse-ripple-ready">Gravar</button>

                                </center>
                            </div>
                            <div class="col-md-8">

                                <div class="form-group col-md-12">
                                    <label for="inputUF" class="col-form-label">Turma</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("Turmas", null, "Selecione uma Turma", new { @class = "form-control   select" })
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" onclick="Turma()" class="btn-primary btn-sm">+</button>

                                    </div>
                                </div>


                                <div id="dadosTurmas" class="card invisible">
                                    <table id="tb_turma" class="table dataTable">
                                        <thead>
                                            <tr>
                                                <td>Id</td>
                                                <td>Código</td>
                                                <td>Valor</td>

                                                <td>Desconto</td>
                                                <td>Total</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

@section CSS{ }
@section Scripts{
    <script src="~/Modulo/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Modulo/jquery-validation/messages_pt_BR.js"></script>
    <script src="~/Modulo/Mask/maskmoney.js"></script>
    <script src="~/Modulo/Mask/dist/jquery.mask.js"></script>
    <script>
        $("#inputValorMatricula").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
        $("#inputValorParcela").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
        $("#inputDescontoParcela").mask("%99");
        $("#inputDescontoMatricula").mask("%99");
        $("#inputVigencia").mask("9999");
        document.addEventListener('keypress', function (e) {
            if (e.which == 13) {
                Turma();
            }
        }, false);
        function BindItemMatricula(data) {
            $("#tb_turma tbody").html('');
            $.each(data.itens, function (index, item) {
                var tabela = $("#tb_turma tbody");
                var linha = "<tr id=\"" + item.idTurma + "\"><td>" + item.idTurma +
                    "</td><td>" + item.codTurma +
                    "</td><td>" + item.valor +
                    "</td><td>" + item.valorDesconto +
                    "%</td><td>" + item.valorCalculado +
                    "</td><td><a href=\"#\" onclick=\"javascript:DeletarLinhaTabelaTurma('" + item.idTurma + "','" + document.getElementById('hiddenHashMatricula').value + "')\" class=\"btn btn-icon fuse-ripple-ready\" title=\"Excluir\"> <i class=\"icon-delete-forever \"></i> </a></td ></tr> ";
                tabela.append(linha);
            });
            $("#tb_turma tfoot").html('');
            if (parseFloat(data.totalDesconto) > 0) {
                $("#tb_turma tfoot").html('');
                //document.getElementById("inputValorParcela").value = data.totalDesconto;
                var tabela = $("#tb_turma");
                var linha = "<tfoot><tr><td></td><td></td><td></td><td>Total</td><td>" + data.totalDesconto + "</td><td></td ></tr > </tfoot>";
                tabela.append(linha);
            }
           

        }
        function AdicionarLinhaTabelaTurma(turma) {
            var dados = turma.text().split("|");
            var dataT = {

                IdMatriculaGuid: $("#hiddenHashMatricula").val(),
                IdTurma: turma.val(),
                Valor: dados[4]
            };
            var callback = function (data) {
                const resultado = JSON.parse(data);
                if (resultado.success) {
                    BindItemMatricula(resultado.data);
                    return false;
                } else {
                    var msg = '';
                    $.each(JSON.parse(data).data, function (index, item) {
                        msg = msg + item.property + ' - ' + item.message + '\n';
                    });

                    PNotify.error({

                        text: msg
                    });
                }
            };
            var callbackErro = function (data) {
                PNotify.error({
                    text: 'Ocorreu um erro ao processar sua solicitação'
                });
            };
            academia.helper.rest.utils.POST("/Matricula/Item/Add", dataT, callback, callbackErro, $('#loader'));
            return false;
        }
        function DeletarLinhaTabelaTurma(turmaId, matriculaId) {
            var dataT = {
                IdTurma: turmaId,
                IdMatricula: matriculaId
            };

            var callback = function (data) {

                if (data.success) {


                    PNotify.success({
                        text: 'Deletado com sucesso.'
                    });
                    BindItemMatricula(data.data);

                } else {
                    var msg = '';
                    $.each(JSON.parse(data).data, function (index, item) {
                        msg = msg + item.property + ' : ' + item.message + '\n';
                    });

                    PNotify.error({
                        title: msg
                    });


                }
            };
            var callbackErro = function (data) {
                PNotify.error({
                    text: 'Ocorreu um erro ao processar sua solicitação'
                });

            };

            academia.helper.rest.utils.DELETE("/Matricula/Item/Del", dataT, callback, callbackErro, $('#loader'));

        }
        function Turma() {
            if ($('#Turmas option:selected').val().length > 0) {
                $("#dadosTurmas").show();
                $("#dadosTurmas").removeClass('invisible');
                $("#dadosTurmas").addClass("visible");
                AdicionarLinhaTabelaTurma($('#Turmas option:selected'));
            }
            else {
                PNotify.error({
                    text: 'Informe uma turma'
                });
            }
        }
        $(function () {
            $("#formMatricula").validate({

                ignore: [],
                rules: {

                    inputValorMatricula: {
                        required: true


                    },
                    inputDescontoMatricula: {
                        required: true


                    },
                   
                    inputDiaVencimento: {
                        required: true


                    },
                    inputTotalParcelas: {
                        required: true


                    },
                    TipoFiliacao: {
                        required: true
                    },
                    inputVigencia: {
                        required: true
                    },
                    inputMesVencimento: {
                        required: true
                    }

                },
                messages: {


                    inputValorMatricula: {
                        required: "Campo Obrigatório."

                    },
                    inputDescontoMatricula: {
                        required: "Campo Obrigatório."

                    },
                    inputValorParcela: {
                        required: "Campo Obrigatório."

                    },
                    inputDescontoParcela: {
                        required: "Campo Obrigatório."

                    },
                    inputDiaVencimento: {
                        required: "Campo Obrigatório."

                    },
                    inputTotalParcelas: {
                        required: "Campo Obrigatório."

                    },
                    TipoFiliacao: {
                        required: "Informe o tipo de responsavel."
                    }

                },
                submitHandler: function (form) {

                    var dataT = {

                        IdAluno: $("#hiddenIdAluno").val(),
                        ValorMatricula: $("#formMatricula #inputValorMatricula").val().replace('R$', '').replace('.', ','),
                        DiaVencimento: $("#formMatricula #inputDiaVencimento").val(),
                        TotalParcelas: $("#formMatricula #inputTotalParcelas").val(),
                        DataIncialPagamento: $("#formMatricula #inputDiaVencimento").val() + "/" + $("#formMatricula #Mes").val() + "/" + $("#formMatricula #inputVigencia").val(),
                        DataContrato: $("#formMatricula #inputDiaVencimento").val() + "/" + $("#formMatricula #Mes").val() + "/" + $("#formMatricula #inputVigencia").val(),
                        Ano: $("#formMatricula #inputVigencia").val(),
                        IdMatriculaGuid: $("#hiddenHashMatricula").val(),
                        MesInicioPagamento: $('#formMatricula #Mes').val()
                    };
                    var callback = function (data) {
                        if (JSON.parse(data).success) {
                            PNotify.success({
                                title: 'Matriculado com sucesso.'
                            });
                            //document.getElementById("formResponsavel").reset();
                            return false;
                        } else {
                            var msg = '';
                            $.each(JSON.parse(data).data, function (index, item) {
                                msg = msg + item.property + ' > ' + item.message + '\n';
                            });

                            PNotify.info({
                                title: msg
                            });


                        }
                    };
                    var callbackErro = function (data) {
                        PNotify.error({
                            title: 'Ocorreu um erro ao processar sua solicitação'
                        });

                    };

                    academia.helper.rest.utils.POST("/Aluno/Matricular/", dataT, callback, callbackErro, $('#loader'));
                    return false;
                }
            });
        });
    </script>
}

