
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content custom-scrollbar ps">
    <div class="doc forms-doc page-layout simple full-width">
        <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-6">
            <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                <div class="logo-icon mr-3 mt-1">
                    <i class="icon-account-location s-6"></i>
                </div>
                <div class="logo-text">
                    <div class="h4">  Matrícula</div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <label class="nav-link btn ">CÓDIGO ALUNO:@ViewBag.Matricula.MatriculaAluno.AlunoGuid   </label>
                </li>
                <li class="nav-item">
                    <label class="nav-link btn ">NOME:@ViewBag.Matricula.MatriculaAluno.Nome   </label>
                </li>
                <li class="nav-item">
                    <label class="nav-link btn ">CÓDIGO MATRÍCULA:@ViewBag.Matricula.MatriculaBase.MatriculaGuid   </label>
                </li>


            </ul>
            <div class="tab-content">
                <input type="hidden" id="hiddenIdAluno" value="@ViewBag.Matricula.MatriculaAluno.Id" />
                <input type="hidden" id="hiddenHashAluno" value="@ViewBag.Matricula.MatriculaAluno.AlunoGuid" />
                <input type="hidden" id="hiddenHashMatricula" value="@ViewBag.Matricula.MatriculaBase.MatriculaGuid" />
                <div class="card p-6">
                    <form id="formMatricula" class="form formReset">
                        <div class="form-row">
                            <div class="col-md-4">

                                <div class="col-12">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group ">
                                                        <label for="inputValorMatricula" class="col-form-label">Valor Matricula</label>
                                                        <label>@ViewBag.Matricula.MatriculaBase.MatriculaValorMatricula</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group ">
                                                        <label for="inputDescontoMatricula" class="col-form-label">Desconto Matricula</label>
                                                        <label>@ViewBag.Matricula.MatriculaBase.MatriculaPercentualDesconto</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="inputTotalParcelas" class="col-form-label">N° Parcelas</label>
                                                        <input type="hidden" id="totalParcelas" value="@ViewBag.Matricula.MatriculaBase.MatriculaTotalParcelas" />
                                                        <label>@ViewBag.Matricula.MatriculaBase.MatriculaTotalParcelas</label>

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="inputDiaVencimento" class="col-form-label">Vencimento</label>
                                                        <input type="hidden" id="diaSelecionado" value="@ViewBag.Matricula.MatriculaBase.MatriculaDiaVencimento" />
                                                        <label>@ViewBag.Matricula.MatriculaBase.MatriculaDiaVencimento</label>

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group ">
                                                        <label for="inputMesVencimento" class="col-form-label">Mes Início de Pagamento</label>
                                                        <label>@ViewBag.Matricula.MatriculaBase.MatriculaMesInicioPagamento</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="inputVigencia" class="col-form-label">Ano/Vigencia</label>
                                                        <label>  @ViewBag.Matricula.MatriculaBase.MatriculaAno </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                    <label for="inputMesVencimento" class="col-form-label">Situação</label>


                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="preview-elements">
                                                            <div class="form-check form-check-inline">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" @(@ViewBag.Matricula.MatriculaBase.MatriculaStatus == "Ativo" ? "checked" : "") type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                                                    <span class="radio-icon fuse-ripple-ready"></span>
                                                                    <span class="form-check-description">Ativo</span>
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" @(@ViewBag.Matricula.MatriculaBase.MatriculaStatus == "Inativo" ? "checked" : "") type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0">
                                                                    <span class="radio-icon fuse-ripple-ready"></span>
                                                                    <span class="form-check-description">Inativo</span>
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-primary fuse-ripple-ready">Atualizar</button>
                                </div>
                            </div>
                            <div class="col-md-8">

                                <div class="form-group col-md-12">
                                    <label for="inputUF" class="col-form-label">Turma</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("Turmas", null, "Selecione uma Turma", new { @class = "form-control   select" })
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" onclick="Turma()" class="btn-primary btn-sm">+</button>

                                    </div>
                                </div>
                                <div id="dadosTurmas" class="card">
                                    <table id="tb_turma" class="table dataTable">
                                        <thead>
                                            <tr>
                                                <td>Id</td>
                                                <td>Código</td>
                                                <td>Valor</td>
                                                <td>Desconto</td>
                                                <td>Total</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var iten in @ViewBag.Matricula.MatriculaItens)
                                            {
                                                <tr id="@iten.IdTurma">
                                                    <td>@iten.IdTurma</td>
                                                    <td>@iten.CodTurma</td>
                                                    <td>@iten.Valor</td>
                                                    <td>@iten.ValorDesconto %</td>
                                                    <td>@iten.ValorCalculado</td>
                                                    <td><a href="#" onclick="javascript:DeletarLinhaTabelaTurma('@iten.IdTurma','@ViewBag.Matricula.MatriculaBase.MatriculaGuid')" class="btn btn-icon fuse-ripple-ready" title="Excluir"> <i class="icon-delete-forever "></i> </a></td>
                                                </tr>
                                            }
                                        </tbody>


                                        <tfoot><tr><td></td><td></td><td></td><td>Total</td><td>@ViewBag.TotalDesconto</td><td></td></tr> </tfoot>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>
@section CSS{ }
@section Scripts{
    <script src="~/Modulo/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Modulo/jquery-validation/messages_pt_BR.js"></script>
    <script src="~/Modulo/Mask/maskmoney.js"></script>
    <script src="~/Modulo/Mask/dist/jquery.mask.js"></script>
    <script>
        document.addEventListener('keypress', function (e) {
            if (e.which == 13) {
                Turma();
            }
        }, false);
        $(document).ready(function () {
            $('#inputDiaVencimento option[value=' + $("#diaSelecionado").val() + ']').attr('selected', 'selected');
            $('#inputTotalParcelas option[value=' + $("#totalParcelas").val() + ']').attr('selected', 'selected');
            $("radio").attr("disabled")
        })
        $("#inputValorMatricula").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
        $("#inputValorParcela").maskMoney({ showSymbol: true, symbol: "R$", decimal: ",", thousands: "." });
        $("#inputDescontoParcela").mask("%99");
        $("#inputDescontoMatricula").mask("%99");
        $("#inputVigencia").mask("9999");

        function BindItemMatricula(data) {
            $("#tb_turma tbody").html('');
            $.each(data.itens, function (index, item) {
                var tabela = $("#tb_turma tbody");
                var linha = "<tr id=\"" + item.idTurma + "\"><td>" + item.idTurma +
                    "</td><td>" + item.CodTurma +
                    "</td><td>" + item.valor +
                    "</td><td>" + item.valorDesconto +
                    "%</td><td>" + item.valorCalculado +
                    "</td><td><a href=\"#\" onclick=\"javascript:DeletarLinhaTabelaTurma('" + item.idTurma + "','" + document.getElementById('hiddenHashMatricula').value + "')\" class=\"btn btn-icon fuse-ripple-ready\" title=\"Excluir\"> <i class=\"icon-delete-forever \"></i> </a></td ></tr> ";
                tabela.append(linha);
            });
            $("#tb_turma tfoot").html('');
            if (parseFloat(data.totalDesconto) > 0) {
                $("#tb_turma tfoot").html('');
                //document.getElementById("inputValorParcela").value = data.totalDesconto;
                var tabela = $("#tb_turma");
                var linha = "<tfoot><tr><td></td><td></td><td></td><td>Total</td><td>" + data.totalDesconto + "</td><td></td ></tr > </tfoot>";
                tabela.append(linha);
            }


        }
        function AdicionarLinhaTabelaTurma(turma) {
            var dados = turma.text().split("|");
            var dataT = {

                IdMatriculaGuid: $("#hiddenHashMatricula").val(),
                IdTurma: turma.val(),
                Valor: dados[4]
            };
            var callback = function (data) {
                const resultado = JSON.parse(data);
                if (resultado.success) {
                    BindItemMatricula(resultado.data);
                    return false;
                } else {
                    var msg = '';
                    $.each(JSON.parse(data).data, function (index, item) {
                        msg = msg + item.property + ' - ' + item.message + '\n';
                    });

                    PNotify.error({

                        text: msg
                    });
                }
            };
            var callbackErro = function (data) {
                PNotify.error({
                    text: 'Ocorreu um erro ao processar sua solicitação'
                });
            };
            academia.helper.rest.utils.POST("/Matricula/Item/Add", dataT, callback, callbackErro, $('#loader'));
            return false;
        }
        function DeletarLinhaTabelaTurma(turmaId, matriculaId) {
            var dataT = {
                IdTurma: turmaId,
                IdMatricula: matriculaId
            };

            var callback = function (data) {

                if (data.success) {


                    PNotify.success({
                        text: 'Deletado com sucesso.'
                    });
                    BindItemMatricula(data.data);

                } else {
                    var msg = '';
                    $.each(JSON.parse(data).data, function (index, item) {
                        msg = msg + item.property + ' : ' + item.message + '\n';
                    });

                    PNotify.error({
                        title: msg
                    });


                }
            };
            var callbackErro = function (data) {
                PNotify.error({
                    text: 'Ocorreu um erro ao processar sua solicitação'
                });

            };

            academia.helper.rest.utils.DELETE("/Matricula/Item/Del", dataT, callback, callbackErro, $('#loader'));

        }
        function Turma() {
            if ($('#Turmas option:selected').val().length > 0) {
                $("#dadosTurmas").show();
                $("#dadosTurmas").removeClass('invisible');
                $("#dadosTurmas").addClass("visible");
                AdicionarLinhaTabelaTurma($('#Turmas option:selected'));
            }
            else {
                PNotify.error({
                    text: 'Informe uma turma'
                });
            }

        }
        $("#formMatricula").submit(function (event) {
            event.preventDefault();
            const situacao = document.querySelector("input[name=inlineRadioOptions]:checked").value === '1' ? true : false;

            var dataT = {
                IdMatriculaGuid: $("#hiddenHashMatricula").val(),
                StatusMatricula: situacao
            };
            var callback = function (data) {
                if (data.success) {
                    PNotify.success({
                        title: data.message
                    });
                    return false;
                } else {
                    var msg = '';
                    $.each(data.data, function (index, item) {
                        msg = msg + item.property + ' > ' + item.message + '\n';
                    });
                    PNotify.info({
                        title: msg
                    });
                }
            };
            var callbackErro = function (data) {
                PNotify.error({
                    title: 'Ocorreu um erro ao processar sua solicitação'
                });

            };

            academia.helper.rest.utils.PUT("/Matricula/Editar/", dataT, callback, callbackErro, $('#loader'));
            return false;
        });

    </script>
}


